 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    color: white;
    letter-spacing: 1px;
    font-family: 'Poppins', sans-serif;

    
}

#click{
    display: none;
}
header{
    padding-top: 30px;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.icon h1{
    font-size: 40px;
    font-weight: 200;
}
.icon a{
    color: white;
}
ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    margin: 0 40px;

}

.menu li a{
    padding: 15px;
    font-size: 14px;
    color: grey;
    font-weight: 500;
    cursor: pointer;
}
.menu li a:hover{
    transition: 0.5s;
    color: #fff;
}


 nav .menu-btn i{
    color: #fff;
    font-size: 22px;
    cursor: pointer;
    display: none;
 }
 /*Main Info*/

.main-info{
    margin: 50px auto;
    max-width: 1200px;
}

.info{
    width: 60%;
    margin: 0 auto;
    text-align: center;
}

.info h1{
    font-size: 45px;
    font-weight: 500;
    margin: 10px;
    letter-spacing: 0;
}
.info .profile {
    padding: 0px;
    margin: 0;
    text-decoration: underline #27a776 ;
    line-height: 25px;
}


.info p{
    margin: 20px auto;
    width: 80%;
    font-size: 18px;
    color: gray;
}

.info button{
    background-color:#27a776;
    padding: 15px 40px;
    margin: 15px;
    border-radius: 10px;
    letter-spacing: 2px;
    cursor: pointer;
    transition: 0.3s ;
    font-size: 14px;
    font-weight: 400;
    
}
.info button:hover{
    box-shadow: 3px 3px 10px gray;
    font-size: 14px;
}

/*gallery*/

.testi{
    display: grid;
    place-items: center;
    margin: 20px;
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.image{
    position: relative;
}
.image img{
    width: 360px;
    padding: 10px;
    border-radius: 25px;
    transition: 0.3s;
    display: block;
}

.gallery img:hover{
    transform: scale(1.05);
    opacity: 0.5;
    border-radius: 30px;
}

.image .active{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    
}

hr{
    border-top: 0px  darkgray;
}
/*footer*/

footer{
    text-align: center;
    margin: 30px 20px;
}

footer h3{
    width: 65%;
    margin: 10px auto;
    font-weight: lighter;
    font-size: 16px;
}

.footer-cls{
    font-weight: 400;
    text-decoration: none;
}
footer h4{
    font-weight: lighter;
    font-size: 14px;
    margin: 10px;
}

footer h4 a{
    transition: 0.3s;
    color: #27a776;
    font-weight: 500;
    text-decoration: none;
}

footer h4 a:hover{
    color: white;
}

.social-media{
    display: flex;
    justify-content: center;
}
.social-media li{
    padding-left: 20px;
    color: gray;

}
 .social-media li i{
    color: gray;
    cursor: pointer;
 }
 
 .social-media li i:hover{
    color: white;
    transition: 0.5s;
 }


